.Appu {
  text-align: center;
  background-image:url('./background.jpg');
  height: 100vh;
  width: 100%;
  display: flex;

  flex-direction: column;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header {
  font-size:5rem;
  font-weight: 600;
  background: linear-gradient(to right, rgb(99, 128, 93), rgb(85, 88, 134));
  -webkit-background-clip: text;
  color: black;
  padding:5%;
  font-family: 'Dancing Script', cursive;
  justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
